<mat-toolbar>
  <mat-toolbar-row>
    <span>{{ appTitle }}</span>
    <span class="flex-auto"></span>
    <button
      mat-icon-button
      [attr.aria-label]="'LANGUAGE' | translate"
      [matTooltip]="'LANGUAGE' | translate"
    >
      <mat-icon>language</mat-icon>
    </button>
    <button
      mat-icon-button
      [attr.aria-label]="'MENU' | translate"
      [matTooltip]="'MENU' | translate"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <app-chat-input [chatForm]="chatForm" class="w-100"></app-chat-input>
  </mat-toolbar-row>
</mat-toolbar>
