<mat-toolbar>
  <mat-toolbar-row>
    <img class="logo-image" src="assets/logo/logo.png" />
    <span class="flex-auto"></span>

    <form [formGroup]="languageForm" (ngSubmit)="languageFormSubmit.emit()">
      <mat-form-field appearance="outline" color="accent" class="small no-hint">
        <mat-label>{{ "LANGUAGE" | translate }}</mat-label>
        <mat-select
          formControlName="language"
          (selectionChange)="languageFormSubmit.emit()"
        >
          <mat-option *ngFor="let language of languages" [value]="language">
            {{ language }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <!--
    <button
      mat-icon-button
      type="button"
      [attr.aria-label]="'MENU' | translate"
      [matTooltip]="'MENU' | translate"
    >
      <mat-icon>menu</mat-icon>
    </button>
    -->
  </mat-toolbar-row>

  <mat-toolbar-row class="h-100">
    <app-chat-input
      [chatForm]="chatForm"
      (chatFormSubmit)="chatFormSubmit.emit()"
      class="w-100"
    ></app-chat-input>
  </mat-toolbar-row>
</mat-toolbar>
