.messages-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  .message {
    max-width: 90%;
    word-wrap: break-word;

    &.message-request {
      background-color: green;
      color: white;
      align-self: flex-start;
    }
    &.message-response {
      background-color: blue;
      color: white;
      align-self: flex-end;
    }

    &.loading {
      opacity: 0.6;
    }
    &.error {
      box-shadow: 0px 0px 0px 4px red;
    }

    .text {
      display: block;
    }
    .image {
      display: block;
      max-width: 100%;
    }
    .sending-date {
      display: block;
      font-size: 0.7em;
    }
  }
}
