<form [formGroup]="chatForm" (ngSubmit)="onChatFormSubmit()" id="chat-form">
  <mat-form-field appearance="outline" color="accent" class="w-100">
    <mat-label>{{ "REQUEST_PROMPT" | translate }}</mat-label>
    <input matInput autocomplete="off" formControlName="requestMessageText" />
    <mat-error *ngIf="chatForm.get('requestMessageText')?.hasError('required')">
      {{ "ERROR_MESSAGE_REQUIRED" | translate }}
    </mat-error>
    <mat-error
      *ngIf="chatForm.get('requestMessageText')?.hasError('maxlength')"
    >
      {{
        'ERROR_MESSAGE_TOO_LONG' | translate:{requiredLength:chatForm.get("requestMessageText")?.errors?.['maxlength']?.requiredLength, actualLength:chatForm.get("requestMessageText")?.errors?.['maxlength']?.actualLength }
      }}
    </mat-error>
    <button
      mat-icon-button
      matSuffix
      type="submit"
      [attr.aria-label]="'SEND' | translate"
      [matTooltip]="'SEND' | translate"
      [disabled]="!chatForm.valid || !chatForm.value.requestMessageText"
    >
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>
      {{ "RESPONSE_TYPE" | translate }}
    </mat-label>
    <mat-select formControlName="responseMessageType">
      <mat-option
        *ngFor="let messageType of messageTypeEnum | enumToArray"
        [value]="messageType.key"
      >
        {{ messageType.value }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="chatForm.get('responseMessageType')?.hasError('required')"
    >
      {{ "ERROR_RESPONSE_TYPE_REQUIRED" | translate }}
    </mat-error>
  </mat-form-field>
</form>
