<form [formGroup]="chatForm" (ngSubmit)="chatFormSubmit.emit()" class="w-100">
  <mat-form-field appearance="outline" color="accent" class="w-100">
    <mat-label>{{ "MESSAGE" | translate }}</mat-label>
    <input matInput autocomplete="off" formControlName="requestMessage" />
    <button
      mat-icon-button
      matSuffix
      type="submit"
      [attr.aria-label]="'SEND' | translate"
      [matTooltip]="'SEND' | translate"
      [disabled]="!chatForm.valid || !chatForm.value.requestMessage"
    >
      <mat-icon>send</mat-icon>
    </button>
    <mat-error *ngIf="chatForm.get('requestMessage')?.hasError('maxlength')">
      {{
        'ERROR_MESSAGE_TOO_LONG' | translate:{requiredLength:chatForm.get("requestMessage")?.errors?.['maxlength']?.requiredLength, actualLength:chatForm.get("requestMessage")?.errors?.['maxlength']?.actualLength }
      }}
    </mat-error>
  </mat-form-field>
</form>
